{% extends "ad_resource_mgmt/mp_base.html" %}
{% block rightpanel %}
    <div id="right"><h2>增加记者页面</h2>
    {{ reporter_form.errors }}
    <form action="{% url add_reporter %}" method="post">
        <table>
            <tr>
                <td>省份: </td>
                <td>{{ reporter_form.province }}</td>
            </tr>
            <tr>
                <td>城市: </td>
                <td>{{ reporter_form.city }}</td>
            </tr>
            <tr>
                <td>媒体名称: </td>
                <td>{{ reporter_form.media_name }}</td>
            </tr>
            <tr>
                <td>媒体类型: </td>
                <td>{{ reporter_form.media_type }}</td>
            </tr>
            <tr>
                <td>媒体性质: </td>
                <td>{{ reporter_form.media_property }}</td>
            </tr>
            <tr>
                <td>频道: </td>
                <td>{{ reporter_form.channel  }}</td>
            </tr>
            <tr>
                <td>媒体级别: </td>
                <td>{{ reporter_form.media_level }}</td>
            </tr>
            <tr>
                <td>姓名: </td>
                <td>{{ reporter_form.name }}</td>
            </tr>
            <tr>
                <td>性别: </td>
                <td>{{ reporter_form.gender }}</td>
            </tr>
            <tr>
                <td>职务: </td>
                <td>{{ reporter_form.position }}</td>
            </tr>
            <tr>
                <td>行业类型: </td>
                <td>{{ reporter_form.industry_type }}</td>
            </tr>
            <tr>
                <td>是否是新记者: </td>
                <td>{{ reporter_form.new_or_old }}</td>
            </tr>
            <tr>
                <td>可配合的工作: </td>
                <td>{{ reporter_form.proper_work }}</td>
            </tr>
            <tr>
                <td>其他配合: </td>
                <td>{{ reporter_form.other_proper }}</td>
            </tr>
            <tr>
                <td>座机: </td>
                <td>{{ reporter_form.fixed_number }}</td>
            </tr>
            <tr>
                <td>传真: </td>
                <td>{{ reporter_form.fax }}</td>
            </tr>
            <tr>
                <td>手机: </td>
                <td>{{ reporter_form.mobile_number }}</td>
            </tr>
             <tr>
                <td>邮箱: </td>
                <td>{{ reporter_form.email }}</td>
            </tr>
            <tr>
                <td>单位地址: </td>
                <td>{{ reporter_form.company_address }}</td>
            </tr>
            <tr>
                <td>家庭地址: </td>
                <td>{{ reporter_form.home_address }}</td>
            </tr>
            <tr>
                <td>邮编: </td>
                <td>{{ reporter_form.zip_code }}</td>
            </tr>
            <tr>
                <td>MSN: </td>
                <td>{{ reporter_form.msn }}</td>
            </tr>
            <tr>
                <td>QQ: </td>
                <td>{{ reporter_form.qq }}</td>
            </tr>
            <tr>
                <td>发布频次及时间: </td>
                <td>{{ reporter_form.car_carry_circle }}</td>
            </tr>
            <tr>
                <td>身份证号码: </td>
                <td>{{ reporter_form.id_number }}</td>
            </tr>
            <tr>
                <td>出生日期: </td>
                <td>{{ reporter_form.birthday }} 例如:2009-10-10</td>
            </tr>
            <tr>
                <td>毕业学校: </td>
                <td>{{ reporter_form.graduate_school }}</td>
            </tr>
            <tr>
                <td>学历: </td>
                <td>{{ reporter_form.education }}</td>
            </tr>
            <tr>
                <td>行文风格: </td>
                <td>{{ reporter_form.style }}</td>
            </tr>
            <tr>
                <td>爱好及特长: </td>
                <td>{{ reporter_form.hobbies }}</td>
            </tr>
            <tr>
                <td>工作经历: </td>
                <td>{{ reporter_form.work_experience }}</td>
            </tr>
            <tr>
                <td>目前单位就职时间: </td>
                <td>{{ reporter_form.last_work_time }} 例如:2009-10-10</td>
            </tr>
            <tr>
                <td>最佳沟通时间: </td>
                <td>{{ reporter_form.best_communicate_time }}</td>
            </tr>
            <tr>
                <td>对公关公司的要求: </td>
                <td>{{ reporter_form.require_to_pr_company }}</td>
            </tr>
            <tr>
                <td>个人成就及荣誉: </td>
                <td>{{ reporter_form.honor }}</td>
            </tr>
            <tr>
                <td>其他: </td>
                <td>{{ reporter_form.other_info }}</td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="增加"/></td>
            </tr>
        </table>
    </form>
    </div>
{% endblock %}